body{
    background-color: black;
}

.movieContainer {
    width: 90%;
    height: 100%;
    margin: auto;

    .movies:hover .movie {
        transform: translateX(-25%);
        transition: transform 300ms ease 100ms;
     }

    .movies {
        width: 100%;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        justify-content: center space-around;
        margin-top: 10%;
        overflow: hidden;
        overflow-x: scroll;
        

        .movie:hover {
            transform: scale(1.5) !important;
            transition: transform 300ms ease 100ms;
        }

        .movie:hover ~ .movie {
            transform: translateX(25%);
            transition: transform 300ms ease 100ms;
        }

        .movie {
         
            img {
                height: auto;
                width: 35vw;
                border-radius: 2px;
                margin: 5px;
                // transform:scale(0.4);
            }
        }
    }
}

