body{
    background-color: black;
}

.movieContainer {
    width: 90%;
    height: 100%;
    margin: auto;

    .movies {
        width: 100%;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        justify-content: center space-around;
        margin-top: 10%;
        overflow: hidden;
        overflow-x: scroll;
        



        .movie {
         

            img {
                height: auto;
                width: 35vw;
                border-radius: 2px;
                margin: 5px;
                // transform:scale(0.4);
            }

        }
    }
}

