.top-level {
        justify-content:center;
        font-size: 13px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 0 14px 0;
        padding: 0;
    .social-links {   
        transform:scale(1.4);
        flex-direction: flex-start;
        display: flex;
        justify-content: left;
        margin-left: 18%;
    }        
    button {
        background-color: black;
        color: #868e96;
        border: 1px solid #868e96 ;
        width:90px;
        height:30px;
        outline:none;
        margin-left: 5%;
    }
      button:hover  {
            color: #FFF
         }
    .copyright{  
     margin-left: 4.5%;
     -webkit-user-select: none;  
     -moz-user-select: none;    
     -ms-user-select: none;      
     user-select: none;
    }
  p{
      font-size: 11px;
      color: #868e96;
    }
    a{
      font-size: 14px;
      color: #868e96;
      text-decoration: none;   
      }    
    }