.BannerPicture {
  display: flex;
  .BannerBg {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
    z-index: -99;
    background-color: red;
  }
  .BannerLogo {
    position: absolute;
    top: 30%;
    left: 0;
    height: 20%;
    margin-left: 2%;
  }
  h1 {
    position: absolute;
    margin-left: 3%;
    top: 55%;
    left: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .BtnBannerWrap {
    position: absolute;
    display: flex;
    top: 63%;
    width: 50%;
  }
  button {
    height: 50px;
    width: 11%;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
  }
  button:hover {
    opacity: 0.8;
  }
  .BtnInfo {
    width: 17%;
    background-color: rgba(190, 185, 185, 0.5);
    color: white;
  }
  .IconBanner {
    margin-right: 10px;
  }
}
