@import "../../Styles/mediaq";

.banner {
 .bg{
  position: absolute;
  object-fit: contain;
  width: 100%;
  z-index:-1;
  }
  .banner__contents {
    color: white;
    margin-left: 3%;
    padding-top: 13%;
    height: auto;
    width: 70%;
    z-index: 1;
    img {
      width: 40%;
      height: auto;
    }
    h1{
      @include tablet{
        font-size: 1.2rem;
      }
      @include mobile{
        font-size: 0.5rem;
      }
    }
    p {
      font-size: 2rem;
      width: 50%;
      @include tablet {
        font-size: 1.2rem;
        width: 50%;
      }
      @include mobile {
        font-size: 0.3rem;
        width: 50%;
      }
    }
  }

.banner__buttons {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  button {
    background-color: #ffffff;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 50%;
    padding: 0.3% 0;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-right: 1%;
    padding-left: 1%;
    &:hover {
      background-color: #ffffff94;
    }
  }
  .dark {
    padding-left: 2%;
    width: 13%;
    background-color: #ffffff55;
    color: rgb(255, 255, 255);
  }
  .IconBanner {
    font-size: 2.4rem;
    margin-right: 5%;
    @include mobile{
      font-size: 1.2rem;
  }
}
}
}