.movieInfo {
    background-color:rgb(22, 21, 21);
 
.movieInfo_content {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 50;
    width: 50%;
    height: 90%;
    background-color: rgb(22, 21, 21);
    .info_box{
        display: flex;
        margin-left: 3%;
.info{
    width: 70%;
    p {
        font-size: 1.5rem;
        color: white;
    span{
        font-weight: bold;
        font-size: 1.5rem;
        &.green{
        color: green;
    }
}}}
    .extra{
    margin-top: 1%;
    margin-left: 5%;
width: 35%;
color: white;
font-size: 1.2rem;
span{
    color: grey;
}}
    }

 



//--movieInfo_player styling
.movieInfo-player {
    width: auto;
    height: auto;
    position: relative;
    padding-top:  56.25%;
    .movieReact-player {
      position: absolute;
      top: 0px;
    }
}
.movieInfo-wrapimg {
  img {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(transparent, rgb(0, 0, 0) 90%);
  }
  }
}
}