.movieInfo {
  background-color: rgb(22, 21, 21);

  .movieInfo_content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 50;
    width: 50%;
    height: 90%;
    background-color: rgb(22, 21, 21);

    .personal {
      position: absolute;
      top: 45%;
      left: 3%;
      display: flex;
      max-width: 100%;
      flex-direction: row;
      .personal_play {
        background-color: #ffffff;
        display: flex;
        justify-items: center;
        align-items: center;
        width: 6vw;
        padding: 0.25vw 5%;
        font-size: 0.9vw;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        margin-right: 1%;
        white-space: nowrap;
        box-shadow: 3px 3px 10px rgba(48, 53, 75, 0.205);
        &:hover {
            background-color: #ffffff94;
          }
        }
      .personal_button {
        font-size: 1.5vw;
        color: white;
        margin: 0 0.4rem;
        padding: 0 0.4rem;
        border: 1px solid white;
        border-radius: 50%;
        height: 100%;
        &:hover {
            background-color: #36333344;
          }
    }
}

    .info_box {
      display: flex;
      margin-left: 3%;
      .info {
        width: 70%;
        p {
          color: white;
          @include tablet {
          font-size: 0.5rem;
          }
          @include smallscreen{
            font-size: 0.8rem;
          }
          @include bigscreen{
            font-size: 1.1rem;
          }
          @include largescreen{
            font-size: 1.4rem;
          }
   
          span {
            font-weight: bold;
            font-size: 1.5rem;
            &.green {
              color: green;
            }
          }
        }
      }
      .extra {
        margin-top: 1%;
        margin-left: 5%;
        width: 35%;
        color: white;
        span {
          color: grey;
        }
        P{
          color: white;
          @include tablet {
            font-size: 0.5rem;
            }
            @include smallscreen{
              font-size: 0.7rem;
            }
            @include bigscreen{
              font-size: 1rem;
            }
            @include largescreen{
              font-size: 1.2rem;
            }
        }
      }
    }

    //--movieInfo_player styling
    .movieInfo-player {
      width: auto;
      height: auto;
      position: relative;
      padding-top: 56.25%;
      .movieReact-player {
        position: absolute;
        top: 0px;
      }
    }
    .movieInfo-wrapimg {
      overflow: hidden;
      img {
        width: 134%;
        height: auto;
        background-image: linear-gradient(transparent, rgb(0, 0, 0) 90%);
      }
    }
  }
}
