body {
    height: 100%;
    width: 100%;
}

.Navbar {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #000;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    // padding-top: 33%;

    img {
        height: 4rem;
        width: auto;
        margin: 0 2%;
    }

    a {
        text-decoration: none;
        color: white;
        margin-left: 2%;
    }

    .NavExtra {
        display: flex;
        // padding-left: 40%;
        align-items: center;
        justify-content: flex-end;
    }

 
}