.Navbar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: fixed;
  z-index: 99;
  top: 0;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Navbar img {
  height: 4rem;
  width: auto;
  margin: 0 2%;
}

.Navbar a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
}

.Navbar .NavExtra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Navbar .NavExtra a {
  margin-left: 1rem;
}

.Navbar .NavExtra img {
  height: 20px;
  width: auto;
}

.Navbar .NavExtra #Triangle {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin: 0 100 0 100;
}

.Navbar.Active {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: fixed;
  top: 0;
}

.Navbar.Active img {
  height: 4rem;
  width: auto;
  margin: 0 2%;
}

.Navbar.Active a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
}

.Navbar.Active .NavExtra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-right: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Navbar.Active .NavExtra a {
  margin-left: 1rem;
}

.Navbar.Active .NavExtra img {
  height: 20px;
  width: auto;
}

.Navbar.Active .NavExtra #Triangle {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin: 0 100 0 100;
}

.top-level {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 14px 0;
  padding: 0;
}

.top-level .social-links {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 18%;
}

.top-level button {
  background-color: black;
  color: #868e96;
  border: 1px solid #868e96;
  width: 90px;
  height: 30px;
  outline: none;
  margin-left: 5%;
}

.top-level button:hover {
  color: #FFF;
}

.top-level .copyright {
  margin-left: 4.5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top-level p {
  font-size: 11px;
  color: #868e96;
}

.top-level a {
  font-size: 14px;
  color: #868e96;
  text-decoration: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: none;
}

.banner .bg {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: auto;
  height: 41vw;
  z-index: -1;
}

.banner .banner__contents {
  color: white;
  margin-left: 2.5%;
  padding-top: 13%;
  height: auto;
  z-index: 1;
}

.banner .banner__contents img {
  width: 40%;
  height: auto;
}

.banner .banner__contents p {
  font-size: 1.5vw;
  width: 50%;
}

@media screen and (min-width: 400px) and (max-width: 830px) {
  .banner .banner__contents p {
    width: 65%;
  }
}

@media screen and (min-width: 400px) and (max-width: 830px) and (min-width: 400px) and (max-width: 830px) {
  .banner .banner__contents p {
    display: none;
  }
}

.banner .banner__buttons {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner .banner__buttons button {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7vw;
  padding: 0.3vw 1.6%;
  font-size: 1vw;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-right: 1%;
  white-space: nowrap;
}

.banner .banner__buttons button:hover {
  background-color: #ffffff94;
}

@media screen and (min-width: 400px) and (max-width: 830px) {
  .banner .banner__buttons button {
    margin-top: 1vh;
    width: 11vw;
    padding: 0.7vw 3%;
    margin-right: 1.5%;
    font-size: 1.7vw;
  }
}

.banner .banner__buttons .dark {
  padding-left: 2%;
  width: 10vw;
  background-color: #ffffff50;
  color: white;
}

@media screen and (min-width: 400px) and (max-width: 830px) {
  .banner .banner__buttons .dark {
    font-size: 1.7vw;
    width: 16vw;
    padding-left: 3%;
  }
}

.banner .banner__buttons .IconBanner {
  font-size: 1.6vw;
  margin-right: 5%;
}

@media screen and (min-width: 400px) and (max-width: 830px) {
  .banner .banner__buttons .IconBanner {
    font-size: 2.5vw;
    margin-right: 8%;
  }
}

.banner .banner__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 33%;
}

.banner .banner__extra .banner__replay {
  font-size: 2.5vw;
  color: white;
  -webkit-transform: rotate(90deg) scaleX(-1);
          transform: rotate(90deg) scaleX(-1);
}

@media screen and (min-width: 400px) and (max-width: 830px) {
  .banner .banner__extra .banner__replay {
    font-size: 4vw;
  }
}

.banner .banner__extra .banner__age_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #3b3b3b50;
  border-left: 1px solid white;
  padding-right: 4vw;
  margin-right: 10%;
  height: 50%;
}

.banner .banner__extra .banner__age_bg .banner__age_icon {
  font-size: 2.5vw;
  color: white;
  margin-left: 1vw;
}
